.nois__card-gradient {
    display: flex;
    justify-content: center;
}

.nois__card-gradient .nois__card {
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-2);
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    background: var(--color-gradient);
    transition: 0.5s;
    background-size: 200% auto;
}

.nois__card-gradient .nois__card:hover {
    background-position: right center;
    transform: scale(1.1);
}

.nois__card-gradient .nois__card-icon__top {
    flex-direction: column;
}

.nois__card-gradient .nois__card-icon__right {
    flex-direction: row-reverse;
}

.nois__card-gradient .nois__card-icon__bottom {
    flex-direction: column-reverse;
}

.nois__card-gradient .nois__card-icon__left {
    flex-direction: row;
}

.nois__card-gradient .nois__card-icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    border-radius: var(--border-radius-card);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: var(--box-shadow-3);
}

.nois__card-gradient .nois__card-icon > i {
    font-size: 30px;
    object-fit: cover;
    border-radius: var(--border-radius-card);
    background: var(--color-icon-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color-icon-gradient-backup);
}

.nois__card-gradient .nois__card-content {
    width: 100%;
}

.nois__card-gradient .nois__card-content-title {
    color: var(--color-text-light);
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 700;
    line-height: 20.4px;
}

@media only screen and (max-width: 1024.98px) {
}

@media only screen and (max-width: 767.98px) {
    .nois__card-gradient .nois__card {
        padding: 30px 40px;
    }
}
