.title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.cont-main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.cont-space {
    height: 100px;
}