.navbar {
    background: rgba(2551, 255, 255, 0.4);
    height: 100%;
    max-height: 45vh;
    width: 100%;
    padding: 50px;
    overflow-y: auto;
    border-radius: 10px;
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.05);
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.cont-main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.cont-space {
    height: 50px;
}

/* Necessary */

.nois__cont__card-gradient {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
