* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: var(--color-bg);
    font-family: var(--font-family);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}

.nois__cont {
    display: flex;
    padding: 75px 0px 90px 0px;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    align-self: stretch;
}

.nois__wrapper {
    width: 100%;
    max-width: 1670px;
    margin: auto;
    padding-left: 125px !important;
    padding-right: 125px !important;
}

@media only screen and (max-width: 1600px) {

    .nois__wrapper {
        padding-left: 117px !important;
        padding-right: 117px !important;
    }

}

/* // X-Large devices (large desktops, less than 1440px) */
@media only screen and (max-width: 1439.98px) {
    .nois__wrapper {
        padding-left: 91px !important;
        padding-right: 91px !important;
    }
}

/* // X-Large devices (large desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
    .nois__wrapper {
        padding-left: 51px !important;
        padding-right: 51px !important;
    }
}

@media only screen and (max-width: 480px) {
    .nois__wrapper {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}